body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #404040;
  }


  #Header {
    background-image: url("https://media.istockphoto.com/id/862656980/photo/man-walking-in-the-night.jpg?s=612x612&w=0&k=20&c=yWxiGgikzlPqe_wth9Y-L34jGOruyjpUnwKbKv39SKA=");
    width:100%;
    height: 400px;
  }

 
  header {
    text-align:center;
    justify-items: center;
    width: auto;
    height: auto;
    border-right: solid #404040 1px;
    border-bottom: solid #404040 1px;
    border-radius: 0 0 6px 0;
    padding: 10px;
    margin-right: 10px;
  }

 #Intro {
    text-align: center;
    justify-items: center;
    width: 50%;
    margin: auto;
  }

  #Search-section {
    text-align: center;
    justify-items: center;
    width: 50%;
    margin: auto;
  }

  #verse-submit {
    margin-top: 10px;
  }

.data-entry {
    display: flex;
    justify-content: center;
    justify-self: center;

}

#Display {
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    border-width: 2px;
    border-style: inset;
}

.Comments {
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    font-style: normal;
    justify-content: center;
}

#notes-list {
    justify-content: left;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 300px;
}

#passages-list {
    justify-content: right;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 200px;

}

.JSONdata {
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    font-style: normal;
    justify-content: center;
    border-color:#a8a7a7 ;
    border-width:  1px;
    border-style: solid; 
    background-color: #ecf0f3;
}

  h1 {
    font-family: "Great Vibes", cursive;
    font-size: 150px;
    color: #dde5eb;
    margin: 10px 0;
  }


  h3 {
    font-family: "Great Vibes", serif;
    font-size: 50px;
    color: #8fbcdd;
    margin: 10px 0;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  .topbar{
    background-color: #666;
    display: flex;  /* Make Flex container */
    justify-content: center; /* Center horizontally */
 }
 .topbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
 .topbar li{
    display: inline-block;
    float: left;
 }
 .topbar a{
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    color: white;
 }
 .topbar a:hover{
    background-color: rgba(0,0,0,0.7);
    color: white;
 }
 .active{
    background-color: #1ebba3;
 }
  

  
  .beer-details h2 {
    font-size: 32px;
    text-align: center;
  }
  
  .beer-details h3 {
    font-size: 24px;
  }
  
  .beer-details img {
    display: block;
    height: 200px;
    margin: 0 auto 25px auto;
  }
  
  form {
    width: 450px;
    margin: 0 auto 50px auto;
  }
  
  textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f1a458;
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  #review-list li {
    background-color: #fff3a9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  
